{% extends 'main.html' %}

{% block content %}
    <h1> {{ recipe.title }}</h1>
    <a href="{% url 'home' %}">Back to All Recipes.</a>
    <a href="{% url 'edit-recipe' recipe.id %}">Click here to edit the recipe.</a>
    <a href="#">Delete this Recipe (not yet working)</a>
    <div class="recipe-page">
        {% if recipe.total_overall_time_minutes > 0 %}
            <h2>Total time: {{ pretty_time_total }}</h2>
            <h3>Active time: {{ pretty_time_active }}</h3>
            <h3>Future Enhancement - Hover/or expand to see full time breakdown</h3>
        {% endif %}
        <p>{{ recipe.description_free_text|linebreaksbr  }}</p>
        {% if recipe.original_website_link %}
            <a href="{{ recipe.original_website_link }}">Original Recipe Link</a>
        {% endif %}
        <h2>Ingredients:</h2>
        <p>{{ recipe.ingredients_free_text|linebreaksbr  }}</p>
        <h2>Directions:</h2>
        <p>{{ recipe.instructions_free_text|linebreaksbr }}</p>
        {% if recipe.servings_per_nominal %}
            <h2>Serves: {{ recipe.servings_per_nominal }}</h2>
        {% endif %}
        {% if recipe.nutrition_free_text %}
            <h2>Nutrition:</h2>
            <p>{{ recipe.nutrition_free_text|linebreaksbr }}</p>
        {% endif %}
        {% if recipe.notes_free_text %}
            <h2>Notes:</h2>
            <p>{{ recipe.notes_free_text|linebreaksbr }}</p>
        {% endif %}
        {% if recipe.main_image %}
        <img src="{{ recipe.main_image.image.url }}" alt="Main Recipe Image">
        {% endif %}
    </div>
{% endblock content %}
