{% extends 'main.html' %}

{% block content %}
    <div class="flex one">
    <h1 class="centertext"> Welcome to Reciminder!</h1>
    <p class="centertext"><a href="{% url 'home' %}">Back to All Recipes.</a></p>
    <p><a href="{% url 'edit-recipe' recipe.id %}">Click here to edit the recipe.</a></p>
    </div>
    <br>
    <div class="main_center">
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.description_free_text|linebreaksbr  }}</p>
        {% if recipe.original_website_link %}
            <p><a href="{{ recipe.original_website_link }}">Original Recipe Link</a></p>
        {% endif %}
        <p>{{ recipe.ingredients_free_text|linebreaksbr  }}</p>
        <p>{{ recipe.instructions_free_text|linebreaksbr }}</p>
        <p>Serves: {{ recipe.servings_per_nominal }}</p>
    </div>
{% endblock content %}