{% extends 'main.html' %}

{% block content %}
    <h1>View or Search Recipes</h1>
    <div class="sticky-recipe-search">
        <p><a href="{% url 'add-recipe' %}">Click here to add a recipe.</a></p>
        <form id="searchForm" class="form all-recipe-search" action="" method="get">
            <label>Search For Recipes</label>
            <input  id="" class="all-recipe-search" type="text" name="search_query"
                    placeholder="What are you hungry for?" value="{{search_query}}"/>
            <input class="search-button" type="submit" value="Search" />
        </form>
    </div>
    <div class="card-container">
    {% for recipe in recipes %}
        <a class="recipe-card" href="{% url 'recipe' recipe.id %}">
            <article class="card">
                <h4 class="recipe-card-title">{{ recipe.title }}</h4>
                <p>{{ recipe.description_free_text|truncatechars:250|linebreaksbr  }}</p>
            </article>
        </a>
    {% endfor %}
    </div>
    {% if total_pages > 1 %}
    <div class="pagination-container">
        {% for page in page_range %}
        <a class="paginate-button" href="?page={{page}}">{{ page }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
